@using TopLearn.Core.Convertors
@using TopLearn.DataLayer.Entities.Course
@model Tuple<List<TopLearn.DataLayer.Entities.Course.CourseComment>, int>

@{
    Layout = null;
    int pageCount = Model.Item2;
}

@foreach (var item in Model.Item1)
{
    <div class="comment-row">
        <img src="/images/UserAvatar/@item.User.UserAvatar">
        <div class="left-col">
            <h3> @item.User.UserName </h3>
            <span>@item.DateCreate.DateToShamsi()</span>
            <p>
                @item.CommentDiscription
            </p>
        </div>
    </div>
}

<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        @if (pageCount > 1)
        {
            @for (int i = 1; i <= pageCount; i++)
            {
                <li class="page-item"><a class="page-link" onclick="ShowComment(@i)">@i</a></li>
            }
        }
    </ul>
</nav>
