@model string

@if (Model != "")
{
    switch (Model)
    {
        case "Success":
            {
                <div class="alert alert-success">
                    <p class="text-muted">کد با موفقیت اعمال شد</p>
                </div>
                break;
            }
        case "ExpireDate":
            {
                <div class="alert alert-danger">
                    <p class="text-muted">تاریخ کد به اتمام رسیده است</p>
                </div>
                break;
            }
        case "NotFound":
            {
                <div class="alert alert-warning">
                    <p class="text-muted">کد معتبر نیست</p>
                </div>
                break;
            }
        case "FinishedUsable":
            {
                <div class="alert alert-danger">
                    <p class="text-muted">کد به اتمام رسیده است</p>
                </div>
                break;
            }
        case "IsUsedDiscountForThisOrder":
            {
                <div class="alert alert-info">
                    <p class="text-muted">این کد قبلا توسط شما استفاده شده است</p>
                </div>
                break;
            }
        case "IsNotStarted":
            {
                <div class="alert alert-success">
                    <p class="text-muted">تاریخ این کد تخفیف هنوز شروع نشده است</p>
                </div>
                break;
            }
        case "IsPercentZero":
            {
                <div class="alert alert-success">
                    <p class="text-muted">این کد تخفیف دارای درصد صفر است</p>
                </div>
                break;
            }
        case "NotFoundOrder":
            {
                <div class="alert alert-success">
                    <p class="text-muted">این شماره فاکتور برای اعمال کد تخفیف پیدا نشد</p>
                </div>
                break;
            }
        case "Failure":
            {
                <div class="alert alert-success">
                    <p class="text-muted">بنا به دلایلی کد تخفیف اغمال نشد</p>
                </div>
                break;
            }
    }
}
