@using TopLearn.Core.DTOs
@using TopLearn.Core.Services.Interfaces
@inject IUserPanelService _UserPane

@{
    SideBarUserPanelViewModel TmpModel = _UserPane.GetSideBarUserPanel(User.Identity.Name);
}

<div class="col-md-3 col-sm-4 col-xs-12">
    <aside>
        <div class="avatar-layer">
            <div class="img-layer">
                <a href="/UserPanel/EditeUserPanel" class="change-image"><i class="zmdi zmdi-edit"></i></a>
                <img src="/images/UserAvatar/@TmpModel.UserAvatar">
            </div>
            <div class="detail">
                <span> @TmpModel.UserName </span>
                <span> عضویت : @TmpModel.RegisterDate.DateToShamsi() </span>
            </div>
        </div>

        <section>
            <header><h3> میز کار </h3></header>
            <div class="inner">
                <ul>
                    <li><a href="/UserPanel"> مشاهده حساب کابری </a></li>
                    <li><a href="/UserPanel/EditeUserPanel"> ویرایش حساب کابری </a></li>
                    <li><a href="/UserPanel/ChangePassword"> تغییر رمز عبور </a></li>
                    <li><a href="/UserPanel/Wallet"> کیف پول </a></li>
                    <li><a href="/UserPanel/MyOrders"> نمایش فاکتور ها </a></li>
                    <li><a href="/Logout"> خروج از حساب کاربری </a></li>
                </ul>
            </div>
        </section>
    </aside>
</div>