@model TopLearn.Core.DTOs.LoginViewModel
@{
    ViewData["title"] = "ورود به سایت";
    ViewData["NameOfPage"] = "ورود به سایت";
    string ReturnUrl = ViewBag.ReturnUrl;
}

<partial name="_TopOfPages" />

<main class="client-page">
    <div class="container-content">
        @if (ViewBag.IsLogedIn == true)
        {
            <div class="alert alert-success">
                <p>ورود شما با موفقیت انجام شد</p>
                <p>لطفا کمی منتظر بمانید ، با تشکر</p>
            </div>

            <script>
                var delaytotransfer = 2500;
                setTimeout(function () { window.location = "/UserPanel" }, delaytotransfer);
            </script>
        }

        @if (Context.Request.Query["EditeUser"] == "true")
        {
            <div class="alert alert-success">
                <p> اطلاعات کاربری شما با موفقیت ویرایش شد</p>
                <p> برای استفاده مجدد از پنل کاربری خود لطفا دوباره وارد شوید</p>
            </div>
        }

        @if (Context.Request.Query["ChangePassword"] == "true")
        {
            <div class="alert alert-warning">
                <p> کلمه عبور شما با موفقیت ویرایش شد</p>
                <p> برای استفاده مجدد از پنل کاربری خود لطفا دوباره وارد شوید</p>
            </div>
        }

        <header><h2> ورود به سایت </h2></header>

        <div class="form-layer">

            <form asp-action="Login" method="post">

                <input type="hidden" name="ReturnUrl" class="form-control">

                <div class="input-group">
                    <span class="input-group-addon" id="email-address"><i class="zmdi zmdi-email"></i></span>
                    <input asp-for="Email" type="text" class="form-control" placeholder="ایمیل" aria-describedby="email-address">
                </div>

                <div class="input-group">
                    <span class="input-group-addon" id="password"><i class="zmdi zmdi-lock"></i></span>
                    <input asp-for="Password" type="password" class="form-control" placeholder="رمز عبور " aria-describedby="password">
                </div>

                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="remember-me">
                    <label><input asp-for="RememberMe" type="checkbox" name="">  مرا بخاطر بسپار </label>
                </div>

                <div class="link">
                    <a href="/ForgotPassword"> <i class="zmdi zmdi-lock"></i> رمز عبور خود را فراموش کرده ام !</a>
                    <a href="/Register"> <i class="zmdi zmdi-account"></i> عضویت در سایت </a>
                </div>

                <button class="btn btn-success"> ورود به سایت </button>

            </form>
        </div>

    </div>
</main>