@model TopLearn.DataLayer.Entities.User.User
@{
    ViewData["title"] = "تایید ثبت نام";
    ViewData["NameOfPage"] = "تایید ثبت نام";
}

<partial name="_TopOfPages" />

<div class="alert alert-success " style="align-content:center">
    <h1>کاربر عزیز " @Model.UserName " </h1>
    <p>حساب کاربری شما با موفقیت ایجاد شد ، ایمیلی حاوی لینک فعالسازی برای شما ارسال گردید  </p>
    <p>لینک فعالسازی به ایمیل " @Model.Email " ارسال شد  </p>
    <a href="/Login">برای ورود به سایت بر روی لینک کلیک کنید</a>
    <p></p>
</div>