@page "{id}"
@model TopLearn2.Web.Pages.Admin.Courses.DeleteCourseModel
@{
    ViewData["Title"] = " حذف بخش ";
}

<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>حذف اطلاعات بخش</h2>
        </div>
        <hr />
        <div class="panel-body">

            <form method="post" enctype="multipart/form-data">
                <input type="hidden" asp-for="CourseEpisode.CourseId" />
                <input type="hidden" asp-for="CourseEpisode.EpisodeId" />
                <div class="col-md-12">
                    <div class="col-md-12 row">
                        <div class="form-group col-md-8 input-group">
                            <label class="input-group-addon"> عنوان بخش : </label>
                            <span class="form-control">@Model.CourseEpisode.EpisodeTitle</span>
                        </div>
                    </div>

                    <div class="col-md-12 row">
                        <div class="form-group col-md-2 input-group">
                            <label class="input-group-addon"> زمان بخش : </label>
                            <span class="form-control">@Model.CourseEpisode.EpisodeTime</span>
                        </div>
                    </div>

                    <div class="col-md-12 row">
                        <div class="form-group col-md-3 input-group">
                            <label class="input-group-addon"> دسترسی  :   </label>
                            <div class="checkbox">
                                <label>
                                    @if (Model.CourseEpisode.IsFree == true)
                                    {
                                        <span class="text-success">
                                            رایگان است
                                            <i class="glyphicon glyphicon-ok"></i>
                                        </span>
                                    }
                                    else
                                    {
                                        <span class="text-success">
                                            رایگان نیست
                                            <i class="glyphicon glyphicon-ok"></i>
                                        </span>
                                    }

                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 row">
                        <div class="form-group col-md-3">
                            <input type="submit" value="حذف اطلاعات" class="btn btn-danger" />
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
