@page "{id}"
@model TopLearn2.Web.Pages.Admin.Courses.EditEpisodeModel
@{
    ViewData["Title"] = " ویرایش بخش ";
}

<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>ویرایش اطلاعات بخش</h2>
        </div>
        <hr />
        <div class="panel-body">

            <form method="post" enctype="multipart/form-data">
                <input type="hidden" asp-for="CourseEpisode.CourseId" />
                <input type="hidden" asp-for="CourseEpisode.EpisodeId" />
                <input type="hidden" asp-for="CourseEpisode.EpisodeFileName" />
                <div class="col-md-12">
                    <div class="col-md-12 row">
                        <div class="form-group col-md-8 input-group">
                            <label class="input-group-addon"> عنوان بخش : </label>
                            <input type="text" asp-for="CourseEpisode.EpisodeTitle" class="form-control">
                            <span asp-validation-for="CourseEpisode.EpisodeTitle"></span>
                        </div>
                    </div>

                    <div class="col-md-12 row">
                        <div class="form-group col-md-2 input-group">
                            <label class="input-group-addon"> زمان بخش : </label>
                            <input type="text" asp-for="CourseEpisode.EpisodeTime" class="form-control">
                            <span asp-validation-for="CourseEpisode.EpisodeTime"></span>
                        </div>
                    </div>

                    <div class="col-md-12 row">
                        <div class="form-group col-md-4 input-group">
                            <label class="input-group-addon"> فایل بخش : </label>
                            <input type="file" name="fileEpisode">
                            <p class="text-danger">فایل اجباری است</p>
                            <span asp-validation-for="CourseEpisode.EpisodeFileName"></span>
                        </div>
                    </div>

                    <div class="col-md-12 row">
                        <div class="form-group col-md-3 input-group">
                            <label class="input-group-addon"> دسترسی  :   </label>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" asp-for="CourseEpisode.IsFree">
                                    رایگان است
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 row">
                        <div class="form-group col-md-3">
                            <input type="submit" value="اصلاح اطلاعات" class="btn btn-primary" />
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>

