@model TopLearn.Core.DTOs.ChangePasswordViewModel
@{
    ViewData["title"] = "تغییر کلمه عبور";
    ViewData["NameOfPage"] = "تغییر کلمه عبور / " + User.Identity.Name;
}

<partial name="_TopOfPages" />

<main>
    <div class="container">
        <div class="user-account">
            <div class="row">

                <partial name="SideBarUserPanel" />

                <div class="col-md-9 col-sm-8 col-xs-12">
                    <section class="user-account-content">
                        <header><h1> تغییر کلمه عبور </h1></header>
                        <div class="inner form-layer">
                            <form asp-action="ChangePassword" method="post" enctype="multipart/form-data">
                                <div class="row">
                                    <div class="col-md-7 col-sm-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon" id="username"><i class="zmdi zmdi-email"></i></span>
                                            <span>
                                                @Model.Email
                                            </span>
                                            <input type="hidden" asp-for="Email" />
                                        </div>
                                    </div>
                                    <div class="col-md-7 col-sm-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon" id="email-address"><i class="zmdi zmdi-key"></i></span>
                                            <input type="password" class="form-control" asp-for="OldPassword" placeholder="رمز فعلی" aria-describedby="email-address">
                                        </div>
                                    </div>
                                    <div class="col-md-7 col-sm-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon" id="email-address"><i class="zmdi zmdi-key"></i></span>
                                            <input type="password" class="form-control" asp-for="Password" placeholder="رمز جدبد" aria-describedby="email-address">
                                        </div>
                                    </div>
                                    <div class="col-md-7 col-sm-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon" id="email-address"><i class="zmdi zmdi-key"></i></span>
                                            <input type="password" class="form-control" asp-for="RePassword" placeholder="تکرار رمز جدبد" aria-describedby="email-address">
                                        </div>
                                    </div>

                                    <div class="text-danger " asp-validation-summary="All">
                                    </div>
                                    <div class="col-md-7 col-sm-8 col-xs-12">
                                        <button class="btn btn-success"> تغییر کلمه عبور </button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</main>
