@page "{id?}"
@model TopLearn2.Web.Pages.Admin.CourseGroup.CreateGroupModel
@{
    ViewData["Title"] = "افزودن گروه جدید";
}


<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">@ViewData["Title"]</h1>
    </div>
</div>

<div class="row">
    <form method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="CourseGroup.ParentId" />
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    گروه جدید
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label>عنوان گروه</label>
                        <input type="text" asp-for="CourseGroup.GroupTitle" class="form-control">
                    </div>
                    <input type="submit" value="ذخیره اطلاعات" class="btn btn-success" />

                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts{
    <script src="/js/sweetalert2.all.min.js"></script>
    <script>

        //$(document).ready(function () {
        //    if (Success=== "Success") {
        //        SuccessAlert();
        //    }
        //    else {
        //        ErrorAlert();
        //    }
        //});

        function Submit() {
            var tmpid = $('#CourseGroup_ParentId').val();
            var tmpTitle = $('#CourseGroup_GroupTitle').val();
            if (tmpTitle == null) {
                ErrorAlert();
            } else {
                $.ajax({
                    url: "/Admin/CourseGroup/CreateComment/" + tmpid,
                    type: "POST",
                    data: { id: tmpid },
                    success: function (data) {
                    },
                    error: function (error) {
                    }
                });
            }
        }


        function ErrorAlert() {
            Swal.fire({
                //toast: true,
                showConfirmButton: true,
                icon: 'error',
                title: 'خطا',
                text: 'asdasdasdasd' // ErrMsg
                                    })
        }

        function SuccessAlert() {
            Swal.fire({
                //toast: true,
                showConfirmButton: false,
                timerProgressBar: true,
                timer: 3000,
                icon: 'success',
                title: 'ایجاد گروه شما با موفقیت انجام شد',
                didOpen: (toast) => {
                    toast.addEventListener('mouseenter', Swal.stopTimer)
                    toast.addEventListener('mouseleave', Swal.resumeTimer)
                }
            }).then((result) => {
                window.location.href = '/Admin/CourseGroup/ShowGroups';
            })
        }
    </script>

}
