@{
    Layout = "_DefualtLayout";
}
<div class="container col-lg-12">
    <div class="col-lg-12">
        <img src="~/images/Error404.png" class="col-lg-10 " style="height:50%;width:50%;offset-distance:unset" />
    </div>
    <div class ="col-lg-12">
        <h1 class="text-center" style="color:aliceblue;padding-top:25px;padding-bottom:50px">
            ممکن است صفحه ای که به دنبال آن میگردید حذف شده باشد و یا آدرس آن را به درستی وارد نکرده باشید
        </h1>
    </div>

</div>
