<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>پنل مدیریت تاپ لرن</title>

    <partial name="StyleRefrence" />

</head>

<body>

    <div id="wrapper">

        <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Admin">TopLearn.Com</a>
            </div>

            <div class="navbar-default navbar-static-side" role="navigation">
                <div class="sidebar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </li>
                        <li>
                            <a href="/Admin"><i class="fa fa-dashboard fa-fw"></i> پنل ادمین</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> مدیریت کاربران<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/Admin/Roles/ShowRoles">دسترسی ها</a>
                                </li>
                                <li>
                                    <a href="/admin/users">کاربران</a>
                                </li>
                                <li>
                                    <a href="/admin/users/DeleteUserList">کاربران حذف شده</a>
                                </li>
                                <li>
                                    <a asp-page="/Admin/Courses/ShowCourses">دوره ها</a>
                                </li>
                                <li>
                                    <a asp-page="/Admin/Discounts/ShowDiscounts">کد تخفیف</a>
                                </li>
                                <li>
                                    <a asp-page="/Admin/CourseGroup/ShowGroups">گروه ها</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div id="page-wrapper">
            @RenderBody()
        </div>

    </div>

    <script src="/AdminContent/js/jquery-1.10.2.js"></script>
    <script src="/AdminContent/js/bootstrap.min.js"></script>
    <script src="/AdminContent/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/AdminContent/js/plugins/morris/raphael-2.1.0.min.js"></script>
    <script src="/AdminContent/js/plugins/morris/morris.js"></script>
    <script src="/AdminContent/js/sb-admin.js"></script>
    <script src="/AdminContent/js/demo/dashboard-demo.js"></script>

    @RenderSection("Scripts", false)
    

</body>

</html>
